.container
	.heading-center
		h2.section-heading ABOUT
		p.lead What Is ListingConnect?
		hr
	center(align="center")
		iframe(width="560", height="315", src="https://www.youtube.com/embed/_DwyqEKGmvc", frameborder="0", allowfullscreen="")
	br
	#features