extends ../themes/default.jade

block scripts
	script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
	.page-content
		.page-header
			.container
				h1.page-title.pull-left About ListingConnect
		.page-content.margin-offset
			.container
				section
					br
					hr
					h2.section-heading OUR MISSION
					p.lead
						span.dropcap.dropcap-big P
						| hosfluorescently predominate stand-alone strategic theme areas with resource maximizing resources. Professionally transform end-to-end catalysts for change via impactful e-services.
					br
					h2.section-heading OUR VISION
					p.lead
						span.dropcap.dropcap-big D
						| istinctively predominate front-end total linkage via user. Professionally synthesize sustainable growth strategies before bricks-and-clicks functionalities. Holisticly synthesize unique intellectual capital whereas ubiquitous users.
					br
					h2.section-heading HOW IT STARTED
					p.lead
						span.dropcap.dropcap-big "D
						| istinctively predominate front-end total linkage via user. Professionally synthesize sustainable growth strategies before bricks-and-clicks functionalities. Holisticly synthesize unique intellectual capital whereas ubiquitous users."
					hr
				br
				section.team
					.section-content
						.col-md-9
							.team-member.media
								img.media-object.img-circle.pull-left(src="/images/Josh-Professional.png", alt="")
								.media-body
									h3.media-heading.team-name Josh Levy
									strong Founder/CEO
									hr.pull-left
									.clearfix
									p
										| Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.
									ul.list-inline.social-icon
										li
											a(href="#")
												i.fa.fa-twitter
										li
											a(href="#")
												i.fa.fa-linkedin