extends ../themes/default.jade

block scripts
	script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
	.page-content
		.page-header
			.container
				h1.page-title.pull-left Real Estate Agent Features
		.page-content.margin-offset
			.container.mt20
				section
					p
						| Appropriately innovate future-proof infomediaries whereas distributed strategic theme areas. Uniquely empower vertical leadership for front-end human capital. Interactively plagiarize interoperable niche markets after customized information. Monotonectally reintermediate backward-compatible scenarios whereas superior ideas. Distinctively incubate progressive imperatives with cooperative total linkage.
					p
						| Quickly repurpose enterprise-wide initiatives before prospective mindshare. Distinctively mesh backend manufactured products before bleeding-edge processes. Proactively provide access to go forward growth strategies.
					br
					br
					.row
						.col-md-4
							.boxed-content.left-aligned.left-boxed-icon
								i.fa.fa-flag
								h2.boxed-content-title GOAL ORIENTED
								p
									| Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.
						.col-md-4
							.boxed-content.left-aligned.left-boxed-icon
								i.fa.fa-globe
								h2.boxed-content-title GLOBAL SERVICE
								p
									| Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.
						.col-md-4
							.boxed-content.left-aligned.left-boxed-icon
								i.fa.fa-cog
								h2.boxed-content-title DYNAMIC CHANGE
								p
									| Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.
						.col-md-4
							.boxed-content.left-aligned.left-boxed-icon
								i.fa.fa-line-chart
								h2.boxed-content-title GROWTH &#38; EXPANSION
								p
									| Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.
						.col-md-4
							.boxed-content.left-aligned.left-boxed-icon
								i.fa.fa-trophy
								h2.boxed-content-title BE A WINNER
								p
									| Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.
						.col-md-4
							.boxed-content.left-aligned.left-boxed-icon
								i.fa.fa-sitemap
								h2.boxed-content-title ORGANIZATION
								p
									| Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.
