extends ../themes/default.jade

block scripts
	script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
	.page-content
		.page-header
			.container
				h1.page-title.pull-left Frequently Asked Questions
		.page-content.margin-offset
			.container.mt20
				h2 Top 5 Home Seller/Buyer Questions
				.panel-group.panel-group-faq.top-faq
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-consumer-faq1")
									span.number.pull-left 1
									| Anim pariatur cliche reprehenderit?
						#top-consumer-faq1.panel-collapse.collapse(style="height: 0px;")
							.panel-body
								p
									| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven"t heard of them accusamus labore sustainable VHS.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-consumer-faq2")
									span.number.pull-left 2
									| Conveniently parallel task backward-compatible?
						#top-consumer-faq2.panel-collapse.collapse(style="height: 0px;")
							.panel-body
								p
									| Conveniently parallel task backward-compatible technology before error-free quality vectors. Appropriately myocardinate process-centric materials and strategic models. Distinctively fashion client-centric synergy before collaborative architectures. Phosfluorescently architect.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-consumer-faq3")
									span.number.pull-left 3
									| Monotonectally underwhelm timely e-services?
						#top-consumer-faq3.panel-collapse.collapse
							.panel-body
								p
									| Monotonectally underwhelm timely e-services vis-a-vis backward-compatible relationships. Energistically promote clicks-and-mortar value through interdependent vortals. Rapidiously strategize multimedia based communities for future-proof solutions. Assertively syndicate global e-services
								p
									| via enabled paradigms. Completely productivate tactical models for installed base catalysts for change. Quickly leverage other"s turnkey partnerships for exceptional data. Appropriately envisioneer performance based leadership skills with client-centered materials. Globally reinvent goal-oriented niches for.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-consumer-faq4")
									span.number.pull-left 4
									| Quickly disseminate corporate niches?
						#top-consumer-faq4.panel-collapse.collapse
							.panel-body
								p
									| Quickly disseminate corporate niches vis-a-vis corporate human capital. Globally negotiate diverse alignments after intuitive expertise. Quickly extend equity invested e-tailers with resource-leveling innovation. Distinctively utilize intuitive leadership whereas functionalized experiences. Globally integrate extensible niches through progressive potentialities. Professionally morph.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-consumer-faq5")
									span.number.pull-left 5
									| Globally visualize professional bandwidth?
						#top-consumer-faq5.panel-collapse.collapse
							.panel-body
								p
									| Globally visualize professional bandwidth via fully researched relationships. Compellingly aggregate prospective resources and equity invested core competencies. Collaboratively synthesize e-business imperatives.
				h2 Top 5 Real Estate Agent Questions
				.panel-group.panel-group-faq.top-faq
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-agent-faq1")
									span.number.pull-left 1
									| Anim pariatur cliche reprehenderit?
						#top-agent-faq1.panel-collapse.collapse(style="height: 0px;")
							.panel-body
								p
									| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven"t heard of them accusamus labore sustainable VHS.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-agent-faq2")
									span.number.pull-left 2
									| Conveniently parallel task backward-compatible?
						#top-agent-faq2.panel-collapse.collapse(style="height: 0px;")
							.panel-body
								p
									| Conveniently parallel task backward-compatible technology before error-free quality vectors. Appropriately myocardinate process-centric materials and strategic models. Distinctively fashion client-centric synergy before collaborative architectures. Phosfluorescently architect.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-agent-faq3")
									span.number.pull-left 3
									| Monotonectally underwhelm timely e-services?
						#top-agent-faq3.panel-collapse.collapse
							.panel-body
								p
									| Monotonectally underwhelm timely e-services vis-a-vis backward-compatible relationships. Energistically promote clicks-and-mortar value through interdependent vortals. Rapidiously strategize multimedia based communities for future-proof solutions. Assertively syndicate global e-services
								p
									| via enabled paradigms. Completely productivate tactical models for installed base catalysts for change. Quickly leverage other"s turnkey partnerships for exceptional data. Appropriately envisioneer performance based leadership skills with client-centered materials. Globally reinvent goal-oriented niches for.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-agent-faq4")
									span.number.pull-left 4
									| Quickly disseminate corporate niches?
						#top-agent-faq4.panel-collapse.collapse
							.panel-body
								p
									| Quickly disseminate corporate niches vis-a-vis corporate human capital. Globally negotiate diverse alignments after intuitive expertise. Quickly extend equity invested e-tailers with resource-leveling innovation. Distinctively utilize intuitive leadership whereas functionalized experiences. Globally integrate extensible niches through progressive potentialities. Professionally morph.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#top-agent-faq5")
									span.number.pull-left 5
									| Globally visualize professional bandwidth?
						#top-agent-faq5.panel-collapse.collapse
							.panel-body
								p
									| Globally visualize professional bandwidth via fully researched relationships. Compellingly aggregate prospective resources and equity invested core competencies. Collaboratively synthesize e-business imperatives.
				h2 Introduction
				.panel-group.panel-group-faq
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faq1") Seamlessly empower visionary growth strategies whereas real-time?
						#faq1.panel-collapse.collapse
							.panel-body
								p
									| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven"t heard of them accusamus labore sustainable VHS.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faq2") Seamlessly exploit excellent initiatives?
						#faq2.panel-collapse.collapse
							.panel-body
								p
									| Conveniently parallel task backward-compatible technology before error-free quality vectors. Appropriately myocardinate process-centric materials and strategic models. Distinctively fashion client-centric synergy before collaborative architectures. Phosfluorescently architect.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faq3") Monotonectally productize efficient?
						#faq3.panel-collapse.collapse
							.panel-body
								p
									| Monotonectally underwhelm timely e-services vis-a-vis backward-compatible relationships. Energistically promote clicks-and-mortar value through interdependent vortals. Rapidiously strategize multimedia based communities for future-proof solutions. Assertively syndicate global e-services
								p
									| via enabled paradigms. Completely productivate tactical models for installed base catalysts for change. Quickly leverage other"s turnkey partnerships for exceptional data. Appropriately envisioneer performance based leadership skills with client-centered materials. Globally reinvent goal-oriented niches for.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faq4") Energistically promote clicks-and-mortar value?
						#faq4.panel-collapse.collapse
							.panel-body
								p
									| Quickly disseminate corporate niches vis-a-vis corporate human capital. Globally negotiate diverse alignments after intuitive expertise. Quickly extend equity invested e-tailers with resource-leveling innovation. Distinctively utilize intuitive leadership whereas functionalized experiences. Globally integrate extensible niches through progressive potentialities. Professionally morph.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faq5")
									| Compellingly aggregate prospective resources and equity invested core competencies?
						#faq5.panel-collapse.collapse
							.panel-body
								p
									| Globally visualize professional bandwidth via fully researched relationships. Compellingly aggregate prospective resources and equity invested core competencies. Collaboratively synthesize e-business imperatives.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faq6") Energistically promote clicks-and-mortar value?
						#faq6.panel-collapse.collapse
							.panel-body
								p
									| Quickly disseminate corporate niches vis-a-vis corporate human capital. Globally negotiate diverse alignments after intuitive expertise. Quickly extend equity invested e-tailers with resource-leveling innovation. Distinctively utilize intuitive leadership whereas functionalized experiences. Globally integrate extensible niches through progressive potentialities. Professionally morph.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faq7") Monotonectally productize efficient?
						#faq7.panel-collapse.collapse
							.panel-body
								p
									| Monotonectally underwhelm timely e-services vis-a-vis backward-compatible relationships. Energistically promote clicks-and-mortar value through interdependent vortals. Rapidiously strategize multimedia based communities for future-proof solutions. Assertively syndicate global e-services
								p
									| via enabled paradigms. Completely productivate tactical models for installed base catalysts for change. Quickly leverage other"s turnkey partnerships for exceptional data. Appropriately envisioneer performance based leadership skills with client-centered materials. Globally reinvent goal-oriented niches for.
				h2 Legal
				.panel-group.panel-group-faq
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faqb1") Monotonectally productize efficient?
						#faqb1.panel-collapse.collapse
							.panel-body
								p
									| Monotonectally underwhelm timely e-services vis-a-vis backward-compatible relationships. Energistically promote clicks-and-mortar value through interdependent vortals. Rapidiously strategize multimedia based communities for future-proof solutions. Assertively syndicate global e-services
								p
									| via enabled paradigms. Completely productivate tactical models for installed base catalysts for change. Quickly leverage other"s turnkey partnerships for exceptional data. Appropriately envisioneer performance based leadership skills with client-centered materials. Globally reinvent goal-oriented niches for.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faqb2") Energistically promote clicks-and-mortar value?
						#faqb2.panel-collapse.collapse
							.panel-body
								p
									| Quickly disseminate corporate niches vis-a-vis corporate human capital. Globally negotiate diverse alignments after intuitive expertise. Quickly extend equity invested e-tailers with resource-leveling innovation. Distinctively utilize intuitive leadership whereas functionalized experiences. Globally integrate extensible niches through progressive potentialities. Professionally morph.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faqb3") Seamlessly empower visionary growth strategies whereas real-time?
						#faqb3.panel-collapse.collapse
							.panel-body
								p
									| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven"t heard of them accusamus labore sustainable VHS.
					.panel.panel-minimal
						.panel-heading
							h4.panel-title
								a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#faqb4") Seamlessly exploit excellent initiatives?
						#faqb4.panel-collapse.collapse
							.panel-body
								p
									| Conveniently parallel task backward-compatible technology before error-free quality vectors. Appropriately myocardinate process-centric materials and strategic models. Distinctively fashion client-centric synergy before collaborative architectures. Phosfluorescently architect.
				.text-center
					h4 Still have questions?
					p Please find your answer by visiting the following page
					ul.list-inline.faq-further-links-list
						li
							a(href="#") Forums
							p.text-muted Appropriately myocardinate process-centric materials and strategic models
						li
							a(href="#") Knowledgebase
							p.text-muted Conveniently parallel task backward-compatible technology
						li
							a(href="#") Terms &#38; Conditions
							p Food truck quinoa nesciunt laborum eiusmod
					p.bottom-30px
						| No luck?
						a(href="#") contact us and we will respond soon
