.container
	.heading-center
		h2.section-heading FEATURES
		center(align="center")
			.custom-tabs-line.tabs-line-bottom
				ul.nav.nav-pills.tabs-iconized(role="tablist")
					li.active
						a.home-tabs(href="#sellerFeatures", role="tab", data-toggle="tab")
							| Home Seller
					li
						a.home-tabs(href="#buyerFeatures", role="tab", data-toggle="tab")
							| Home Buyer
					li
						a.home-tabs(href="#agentFeatures", role="tab", data-toggle="tab")
							| Real Estate Agent
			.tab-content
				#sellerFeatures.tab-pane.fade.in.active
					.row
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-home.pt5
								h2.boxed-content-title CUSTOMIZED PROFILE
								p.features
									| You create a custom profile of your home. Then, top Real Estate Agents compete for your business.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-lock.pt5
								h2.boxed-content-title QUALITY ASSURANCE
								p.features
									| Every Agent is an active, licensed Real Estate Agent and undergoes a thorough vetting process.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-search.pt5
								h2.boxed-content-title SEARCH ANONYMOUSLY
								p.features
									| ListingConnect allows agents to discover and connect with you while keeping your contact information private.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-comments-o.pt5
								h2.boxed-content-title PRIVATE MESSAGING
								p.features
									| Chat with Real Estate Agents anonymously with internal messaging, keeping your contact information private.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-user.pt5
								h2.boxed-content-title DETAILED AGENT PROFILES
								p.features
									| The detailed agent profiles allow you to learn everything you need to know about an agent in one place.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-usd.pt5
								h2.boxed-content-title COMPLETELY FREE
								p.features
									| Home sellers and buyers have full access to ListingConnect for free.
					center(align="center")
						a.btn.btn-primary.btn-lg.mr10(href="/signup.html")
							| Sign Up
				#buyerFeatures.tab-pane.fade.in
					.row
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-home.pt5
								h2.boxed-content-title CUSTOMIZED PROFILE
								p.features
									| You create a custom home buyer profile. Then, top Real Estate Agents compete for your business.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-lock.pt5
								h2.boxed-content-title QUALITY ASSURANCE
								p.features
									| Every Agent is an active, licensed Real Estate Agent and undergoes a thorough vetting process.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-search.pt5
								h2.boxed-content-title SEARCH ANONYMOUSLY
								p.features
									| ListingConnect allows agents to discover and connect with you while keeping your contact information private.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-comments-o.pt5
								h2.boxed-content-title PRIVATE MESSAGING
								p.features
									| Chat with Real Estate Agents anonymously with internal messaging, keeping your contact information private.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-user.pt5
								h2.boxed-content-title DETAILED AGENT PROFILES
								p.features
									| The detailed agent profiles allow you to learn everything you need to know about an agent in one place.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-usd.pt5
								h2.boxed-content-title COMPLETELY FREE
								p.features
									| Home sellers and buyers have full access to ListingConnect for free.
					center(align="center")
						a.btn.btn-primary.btn-lg.mr10(href="/signup.html")
							| Sign Up
				#agentFeatures.tab-pane.fade.in
					.row
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-list-alt.pt5
								h2.boxed-content-title DETAILED AGENT PROFILE
								p.features
									| Profiles include qualifications, specialties, links to your website and social media and more.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-lock.pt5
								h2.boxed-content-title QUALITY ASSURANCE
								p.features
									| Only licensed Real Estate Agents are allowed to use ListingConnect.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-home.pt5
								h2.boxed-content-title EVALUATE LEADS
								p.features
									| View details of a lead's existing home or home they are looking to buy before reaching out for the first contact.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-users.pt5
								h2.boxed-content-title PROACTIVE LEAD GEN
								p.features
									| The most proactive lead generation tool on the market, allowing you to make first contact with qualified leads.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-comments-o.pt5
								h2.boxed-content-title PRIVATE MESSAGING
								p.features
									| The internal messaging system enables you to quickly build rapport with leads and cultivate them into clients.
						.col-md-4
							.boxed-content.left-aligned
								i.fa.fa-usd.pt5
								h2.boxed-content-title UNBEATABLE PRICING
								p.features
									| Sign up free. Packages with access to all features are available for industry-leading prices.
					center(align="center")
						a.btn.btn-primary.btn-lg.mr10(href="/signup.html")
							| Sign Up
						a.btn.btn-success.btn-lg(href="/pricing.html")
							| Pricing
	#pricing