.container
	center(align="center")
		script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
		// Home Banner Ad
		ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-4950211747544966', data-ad-slot='4904405935')
		script.
			(adsbygoogle = window.adsbygoogle || []).push({});