.hero-unit-animated.hidden-sm.hidden-xs
	#carousel-hero-animated.carousel
		.carousel-inner(role="listbox")
			.item.active
				.container
					.hero-left
						.hero-text
							center(align="center")
								h2.hero-heading.animation-delay-5(data-animation="animated fadeIn") The All New ListingConnect
								p.italic.lead.animation-delay-12(data-animation="animated fadeIn") Find the best Real Estate Agent anonymously
								a.btn.btn-primary.btn-lg.animation-delay-12.mr5.mt20(href="/signup.html", data-animation="animated fadeIn") Free Sign Up
								a.btn.btn-success.btn-lg.animation-delay-12.mt20(href="/agent-pricing.html", data-animation="animated fadeIn") Agent Pricing
#about