section.wrapper
	#ad-2
		h2
			| Lost
			br
			| at
			br
			| sea?
		ul#boat
			li
				#question-mark
		ul#water
			li#water-back
			li#water-front
		#content
			h3
				| Relax.
				br
				| We've got your rudder.
			a(href='#') Guide me!