footer.footer-minimal.text-center
  .container
    ul.list-unstyled.list-inline.margin-bottom-30px
      li
        a(href="index.html") Home
      li
        a(href="terms.html", target="_blank") Terms
      li
        a(href="terms.html", target="_blank") Privacy
      li
        a(href="#contact") Contact
    ul.list-inline.social-icons.light-icons.margin-bottom-30px
      li
        a.facebook-bg(href="https://www.facebook.com/listingconnect", target="_blank")
          i.fa.fa-facebook
      li
        a.twitter-bg(href="https://twitter.com/ListingConnect", target="_blank")
          i.fa.fa-twitter
      li
        a.googleplus-bg(href="https://www.instagram.com/listingconnect", target="_blank")
          i.fa.fa-instagram
      //- li
      //-   a.rss-bg(href="#")
      //-     i.fa.fa-rss
    .copyright
      | &#169; 2016 ListingConnect, inc. All Rights Reserved.
